#logo {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
