<h2>Nearby places</h2>
@if (areFiltersVisible()) {
<form [formGroup]="filters" (ngSubmit)="applyFilters()">
    <div>
        <label for="minLatitude">Minimum latitude</label>
        <input title="minLatitude" formControlName="minLatitude" type="number">
    </div>
    <div>
        <label for="maxLatitude">Maximum latitude</label>
        <input title="maxLatitude" formControlName="maxLatitude" type="number">
    </div>
    <button matButton="filled" type="submit">
        Apply filters
    </button>
</form>
} @else {
    <button matButton="filled" type="button" (click)="toggleFiltersVisible()">Filter results</button>
}
@if (filters.dirty) {
    <button matButton="tonal" type="button" (click)="clearFilters()">Clear filters</button>
}
@if (isMapReady()) {
    <div class="large-map"
        leaflet 
        [leafletOptions]="options!">
        <div [leafletLayer]="layer"></div>
        @for (marker of markers; track $index) {
            <div [leafletLayer]="marker"></div>
        }
    </div>
}