body {
    /* global dark theme for now */
    background-color: #262626;
    color: #eeeeee;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    margin:0;
}

header {
    background-color: #2b2b2b;
    height:50px;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #2b2b2b;
    height:50px;
    margin-top:auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background-color: #262626 !important;
  color: #eeeeee !important;
  caret-color: #157cfc !important;
}

h1, h2, h3, h4, h5, p, div, span, label, input, button {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.white-link {
  color: #cccccc;
}

.white-link:hover {
  color: #ffffff;
}

.green-link {
  color: rgba(13, 190, 51, 0.842);
}

.green-link:hover {
  color: rgba(36, 255, 84, 0.842);
}

.subtle-link {
  font-weight: bolder;
  text-decoration: none;
}

.two-column-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.form * {
    margin: 3px 3px;
}

.error {
    color: red;
}

.padded-rows * {
    padding: 10px 0px;
}

.leaflet-container img {
  max-width: none !important;
}

.number-results-icon {
  width: 24px !important;
  height: 24px !important;
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 18px;
  border: 3px solid #3F51B5;
  text-align: center;
  color: #3F51B5;
  background-color: #ffffff87;
  font-size: 16px;
  font-weight: bold;
}

.large-map {
  max-height: 450px;
  min-height: 250px;
  width: auto;
  aspect-ratio: 1 / 1;
  /* ensure user can grab around the map to scroll */
  margin: 30px 30px;
}
