body {
    /* global dark theme for now */
    background-color: #262626;
    color: #eeeeee;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    margin:0;
}

header {
    background-color: #2b2b2b;
    height:50px;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #2b2b2b;
    height:50px;
    margin-top:auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background-color: #262626 !important;
  color: #eeeeee !important;
  caret-color: #157cfc !important;
}

h1, h2, h3, h4, h5, p, div, span, label, input, button {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.two-column-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.form * {
    margin: 3px 3px;
}

.error {
    color: red;
}

.padded-rows * {
    padding: 10px 0px;
}

.leaflet-container img {
  max-width: none !important;
}