<div class="two-item-flex-container">
    <div class="small-map item"
        leaflet 
        [leafletOptions]="options">
        <div [leafletLayer]="layer"></div>
    </div>
    <div class="item">
        <div class="padded-rows">
            @if (definable()) {
                <div>
                    <button type="button" (click)="showCreatePlace()">Define this place</button>
                </div>
            }
            @if (isCreatePlaceVisible()) {
                <app-create-place [location]="location()" (onReturn)="hideCreatePlace()"></app-create-place>
            }
            <div>
                <span><strong>Latitude: </strong></span><span>{{ location().latitude }}</span>
            </div>
            <div>
                <span><strong>Longitude: </strong></span><span>{{ location().longitude }}</span>
            </div>
            <div>
                <span><strong>Recorded date: </strong></span><span>{{ location().recordedDate | date:"MMM dd, yyyy 'at' hh:mm a" }}</span>
            </div>
        </div>
    </div>
</div>